:root {
  --hero-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-background-color: #f5f4fa;
  --hero-text-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --icon-color: #afb1b8;
  --accent-color: #2196f3;
  --logo-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  margin: 0px;
  max-width: 100%;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  margin-right: 93px;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-accent-color {
  color: var(--accent-color);
}

.logo:focus {
  outline: none;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 206px;
  margin: auto;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
  }
}

.portfolio-btn {
  margin-bottom: 15px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background: var(--secondary-background-color);
  padding: 6px 22px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-filter .button-portfolio-filter + .button-portfolio-filter {
    margin-left: 8px;
  }
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-link:visited {
  color: var(--primary-text-color);
}

.portfolio-link > .portfolio-subtitle {
  color: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn:hover .close,
.close-btn:focus .close {
  fill: var(--accent-color);
}

.close {
  width: 11px;
  height: 11px;
  display: center;
  padding-right: 1px;
  padding-top: 1px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.modal-form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-policy-text:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: solid 2px #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form-policy-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 24px;
}

.policy {
  color: var(--accent-color);
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-btn {
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.modal-form-btn:focus {
  outline: none;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/content/icons/Vector.svg);
}

.header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  z-index: 1;
}

.portfolio {
  margin-bottom: 94px;
}

/* Header-nav */
.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item-link,
.header-contacts-item-link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list {
  display: flex;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-nav-list .header-nav-item + .header-nav-item {
  margin-left: 50px;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav-item-link:hover,
.header-nav-item-link:focus {
  color: var(--accent-color);
  outline: none;
}

.header-contacts .header-contacts-item + .header-contacts-item {
  margin-left: 50px;
}

.header-contacts-item-link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.header-contacts-item-link:hover,
.header-contacts-item-link:focus {
  color: var(--accent-color);
  outline: none;
}

.header-nav-item-link {
  position: relative;
}

.header-nav-item-link.is-current {
  color: var(--accent-color);
}

.header-nav-item-link.is-current.header-nav-item-link::after {
  position: absolute;
  content: "";
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  max-width: 1600px;
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-bottom: 60px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/optimized/hero/hero-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/optimized/hero/hero-2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/optimized/hero/hero_tablet-1x.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/optimized/hero/hero_tablet-2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/optimized/hero/hero_desk-1x.jpg");
    max-width: 1600px;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/optimized/hero/hero_desk-2x.jpg");
  }
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  margin: 0 auto;
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  left: 700px;
  top: 430px;
  border: none;
  border-radius: 4px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.advant {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advant {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advant-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .advant-item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advant-item {
    width: 270px;
  }
}

.advant-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advant-icon-container {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advant-icon-container {
    width: 270px;
  }
}

.advant-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advant-item-title {
    text-align: left;
  }
}

.advant-item-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.work {
  margin-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list-item {
  position: relative;
}

.work-label {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 27px 82px 27px 83px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid 000000;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
  }
}

.card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
}

.team-info-list-item-name {
  margin-bottom: 10px;
}

.team-info-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-info-list-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team-info-list-item-photo {
  width: 100%;
}

.portfolio > .portfolio-item {
  flex-basis: 100%;
  margin-top: 30px;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.card-img {
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio > .portfolio-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .portfolio > .portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #FFFFFF;
  max-width: 370px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #FFFFFF;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  width: 210px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients-list-link {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list-link {
    margin-left: 30px;
    margin-top: 30px;
    width: 226px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-link {
    width: 170px;
  }
}

.clients-list-icon {
  fill: var(--icon-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
  outline: none;
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
  outline: none;
}

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.footer-logo {
  display: block;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
  }
}

.footer-logo:focus {
  outline: none;
}

.footer-contacts-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-contacts-address {
    text-align: left;
  }
}

.footer-contacts-link {
  display: block;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-contacts-link {
    text-align: left;
  }
}

.footer-contacts-link:hover {
  outline: none;
}

/* Social links */
@media screen and (min-width: 768px) {
  .footer-social {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer-address-container {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-address-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-container {
    width: 25%;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer-social-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-container {
    width: 25%;
  }
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .footer-social-list {
    margin: 0;
  }
}

.footer-link {
  background-color: #44454e;
}

.footer-icon {
  fill: #ffffff;
}

.agitation {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .agitation {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-input-container {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input-container {
    display: flex;
    margin-bottom: 0;
  }
}

.footer-form-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form-input:focus {
  outline: none;
}

.footer-input-btn {
  position: relative;
  display: block;
  border: none;
  margin: auto;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.footer-btn-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  display: block;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.footer-input-btn:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 48%;
  }
}
/*# sourceMappingURL=main.css.map */