/* 
Colors:
hero text color #FFFFFF 
primary text  #212121
secondary text #757575
accent color #2196F3 

Fonts:
logo font: Raleway 400 bold
main font Roboto 500 900 normal 400 bold 700
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

*/





/*================HEADER================*/



/*================END HEADER================*/
/*=====================MAIN=================*/

/* Hero */


/* Advantages */


/* Work */



/* Team */



/* Portfolio buttons */



/* Portfolio cards */



/* Clients */



/*==================END MAIN=================*/
/*==================FOOTER===================*/



/*==================END FOOTER=================*/
/*==================BACKDROP=================*/
