.team {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px){
  padding-top: 94px;
  padding-bottom: 94px;
 }
}
.team-list {
  
@media screen and (min-width: 768px){
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;
 }
}
.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid 000000;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 30px;

 @media screen and (min-width: 768px){
  width: 354px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
 }

  @media screen and (min-width: 1200px){
  width: 270px;
 }
}
.card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
}

.team-info-list-item-name {
  margin-bottom: 10px;
}

.team-info-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-info-list-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team-info-list-item-photo {
  width: 100%;
}