:root {
  --hero-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-background-color: #f5f4fa;

  --hero-text-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --icon-color: #afb1b8;
  --accent-color: #2196f3;

  --logo-font: "Raleway", sans-serif;
}